/* Override feedback icon position */
.form-horizontal .has-feedback .input-group .form-control-feedback {
    top: 0;
    right: -30px;
}
/*end Type, description and photo*/
.panel-space{
    margin-top: 20px;
    padding-bottom: 10px;
    padding-top: 10px
}
.panel-information{
    padding-bottom: 20px;
    padding-top: 10px
}
.panel-events{
    margin-top: 20px;
    padding: 10px 25px
}
.content{
    padding-top: 15px;
}
/*Rating*/
.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
}
    .rating > span {
        display: inline-block;
        position: relative;
        width: 1.1em;
    }
        .rating > span:hover:before,
        .rating > span:hover ~ span:before {
            content: "\2605";
            position: absolute;
        }
/*end Rating*/

/*upload plan of shop*/
#shop-plan-img .thumbnail{
    width: 700px;
    height: 500px;
    float: left;
    margin: 2px;
}
#shop-plan-img .thumbnail img{
    width: 690px;
    height: 490px;
}
/*end upload plan of shop*/
#shop-avatar-img .thumbnail{
    width: 170px;
    height: 160px;
    float: left;
    margin: 2px;
}
#shop-avatar-img .thumbnail img{
    width: 160px;
    height: 150px;
}
#shop-event-img{
    padding-top: 200px;
}

/*Timeline of tables*/
.free-table{
    margin: 40px;
    display: inline-block;
    background-color: rgb(109, 191, 224);
    width: 200px;
    height: 25px;
    text-align: center;
    font-size: 15pt;
}
.ordered-table{
    margin: 40px;
    display: inline-block;
    background-color: rgba(115, 115, 115, 0.65);
    width: 200px;
    height: 25px;
    text-align: center;
    font-size: 15pt;
}

.booking-table{
    width: 100%;
}
.booking-table td{
    border: 6px solid #F8F8F8; /* Граница вокруг ячеек */
    padding: 5px;
}
.line-free-table{
    height: 40px;
    width: 35px;
    background-color: rgb(109, 191, 224);
}
.line-ordered-table{
    height: 40px;
    width: 35px;
    background-color: rgba(115, 115, 115, 0.65);
}


/*end Timeline of tables*/

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}