* {
    margin: 0;
}

html, body {
    height: 100%;
    position: relative;
    min-width: 970px;
}

.wrapper {
    background-image: url(../img/bg.png);
    min-height: 100%;
    height: auto !important;
    margin: 0 auto -4em;
}

.container {
    max-width: none;
    width: 970px;
}

header {
    padding-top: 15px;
    padding-bottom: 15px;
}

.logo {
    width: 60%;
}

.lang {
    padding-right: 0;
}

.navigation-menu {
    padding-right: 0;
}

.navigation-menu li:hover {
    background-color: #E7E7E7;
}

.search {
    background: url(../img/search.png) no-repeat;
    text-indent: 20px;
    -webkit-background-size: 30px;
    background-size: 30px;
}

.content {
    margin-bottom: 4em;
}

.content .container {
    background-color: #F8F8F8;
    border-radius: 5px;
}

.page-404, .sign {
    text-align: center;
}

.sign a {
    width: 70px;
}

#type-reg {
    padding-top: 5px;
}

#type-reg input {
    float: left;
}

#type-reg label {
    text-align: right;
    width: 0;
}

.social-button {
    width: 100%;
    padding: 5px;
    font-size: 30px;
    color: #ffffff;
    border-radius: 6px;
}

.fa-facebook {
    background-color: #3B5998;
}

.fa-vk {
    background-color: #587EA3;
}

.fa-twitter {
    background-color: #55ACEE;
}

.fa-google {
    background-color: #DD4B39;
}

.footer {
    height: 4em;
    text-align: center;
    background-color: #F8F8F8;
}

/* Events */
.event_short_block
{
    padding: 20px 0px;
}
/* Events END */

/* Event more */

.event_more_main_table
{
    margin:60px 10px 10px 10px;
}

.event_more_main_table .table img
{
    width: 100%;
}

.locations_nav_menu
{
    margin:10px 0px;
}
/* Events more END */


/* Location more*/
.location_main_slider img
{
    width:100%;
    max-height:500px;
}

.how_to_get_there_img
{
    width:150px;
    float:right;
}

.some_images img
{
    height:200px;
}
/* Location more sEND*/

.float_right
{
    float: right;
}

.border_none
{
    border: none !important;
}

.clear_both
{
    clear:both;
}