    <!--end header-->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container navigation-menu ">
            <form class="navbar-form pull-right" role="search">
                <input type="search" class="form-control search" placeholder="Search..."/>
            </form>
            <ul class="nav navbar-nav pull-right">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Locations</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
            </ul>
        </div>
    </nav>
    <!--end nav-menu-->
    <section class="content">
        <div class="container page-404">
            <h1><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 404</h1>
            <div class="alert alert-danger">
                <strong>Oops!</strong> Page not found. Please try again later.
            </div>
        </div>
    </section>
</div>
