    <!--end header-->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container navigation-menu ">
            <form class="navbar-form pull-right" role="search">
                <input type="search" class="form-control search" placeholder="Search..."/>
            </form>
            <ul class="nav navbar-nav pull-right">
                <li class="active">
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Locations</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
            </ul>
        </div>

    </nav>
    <!--end nav-menu-->
    <section class="content">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="layout.phtml">Home</a></li>
                <li class="active">Profile</li>
            </ol>
            <div class="row">
                <div class="col-md-12">
                    <div class="tabbable">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#information" data-toggle="tab">Information</a></li>
                            <li><a href="#booking" data-toggle="tab">Booking</a></li>
                            <li><a href="#events" data-toggle="tab">Events</a></li>
                            <li><a href="#comments" data-toggle="tab">Comments</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="information">
                                <div class="row">
                                    <div class="col-md-12  panel panel-default panel-space">
                                        <form role="form" action="#" method="post"
                                              enctype="multipart/form-data">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-10">
                                                        <label for="shop-name" class="col-md-2 control-label">Shop
                                                            name: </label>

                                                        <div class="col-md-4 form-group">
                                                            <input class="form-control" type="text" id="shop-name"
                                                                   placeholder="Enter name shop">
                                                        </div>

                                                        <label for="choose-type" class="col-md-3">Choose type of
                                                            shop:</label>

                                                        <div class="col-md-3">
                                                            <select id="choose-type" name="" class="form-control">
                                                                <option selected value="Pub">Pub</option>
                                                                <option value="Restaurant">Restaurant</option>
                                                                <option value="Bar">Bar</option>
                                                                <option value="Bar">Cafe</option>
                                                            </select>
                                                        </div>
                                                        <label for="description-shop" class="col-md-12">Enter
                                                            description:</label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-9">
                        <textarea id="description-shop" class="form-control" name="description" cols="50" rows="10"
                                  placeholder="Enter description here"></textarea>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div id="shop-avatar-img"></div>
                                                    <span class="btn btn-default btn-file">
                                                        Set shop img <input type="file" id="inputShopAvatar"
                                                                            accept="image/*">
                                                    </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-success">Save changes</button>
                                        </form>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 panel panel-default panel-information">
                                        <form class="form-horizontal" role="form" method="post"
                                              enctype="multipart/form-data"
                                              action="#">
                                            <div class="form-group">
                                                <div class="col-md-3">
                                                    <label class="text-center">Number of visitors:</label>

                                                    <div class="radio">
                                                        <label>
                                                            <input type="radio" name="2users" id="2user" checked>
                                                            2 user
                                                        </label>
                                                    </div>
                                                    <div class="radio">
                                                        <label>
                                                            <input type="radio" name="2users" id="4user">
                                                            4 user
                                                        </label>
                                                    </div>
                                                    <div class="radio">
                                                        <label>
                                                            <input type="radio" name="2users" id="6user">
                                                            6 user
                                                        </label>
                                                    </div>
                                                    <div class="radio">
                                                        <label>
                                                            <input type="radio" name="2users" id="8user">
                                                            8 user
                                                        </label>
                                                    </div>
                                                </div>
                                                <!--shop plan-->
                                                <div class="col-md-9">
                                                    <h2>Upload image</h2>
                                                <span class="btn btn-default btn-file">
                                                    Choose file <input type="file" id="inputShopPlan" accept="image/*"/>
                                                </span>

                                                    <div id="shop-plan-img"></div>
                                                </div>
                                                <!--end shop plan-->
                                            </div>
                                            <button type="submit" class="btn btn-success" disabled="disabled">Save
                                                changes
                                            </button>
                                        </form>

                                    </div>
                                </div>
                            </div>
                            <!-- /#information -->
                            <div class="tab-pane" id="booking">
                                <div class="row panel panel-default panel-space">
                                    <div class="col-md-9">
                                        <div class="free-table">Free</div>
                                        <div class="ordered-table">Ordered</div>
                                    </div>
                                    <!--calendar-->
                                    <div class="col-md-3 pull-right">
                                        <div class="date"></div>
                                    </div>
                                    <!--end calendar-->
                                </div>
                                <div class="row panel-space">
                                    <div class="col-md-12">
                                        <table class="booking-table">
                                            <tr>
                                                <td></td>
                                                <td>00</td>
                                                <td>01</td>
                                                <td>02</td>
                                                <td>03</td>
                                                <td>04</td>
                                                <td>05</td>
                                                <td>06</td>
                                                <td>07</td>
                                                <td>08</td>
                                                <td>09</td>
                                                <td>10</td>
                                                <td>11</td>
                                                <td>12</td>
                                                <td>13</td>
                                                <td>14</td>
                                                <td>15</td>
                                                <td>16</td>
                                                <td>17</td>
                                                <td>18</td>
                                                <td>19</td>
                                                <td>20</td>
                                                <td>21</td>
                                                <td>22</td>
                                                <td>23</td>
                                            </tr>

                                            <tr class="table1">
                                                <td>T1</td>
                                                <td colspan="3" class="line-free-table"></td>
                                                <td colspan="5" class="line-ordered-table"></td>
                                                <td colspan="6" class="line-free-table"></td>
                                                <td colspan="7" class="line-ordered-table"></td>
                                                <td colspan="3" class="line-free-table"></td>
                                            </tr>

                                            <tr class="table2">
                                                <td>T2</td>
                                                <td colspan="2" class="line-free-table"></td>
                                                <td colspan="6" class="line-ordered-table"></td>
                                                <td colspan="5" class="line-free-table"></td>
                                                <td colspan="7" class="line-ordered-table"></td>
                                                <td colspan="4" class="line-free-table"></td>
                                            </tr>
                                            <tr class="table3">
                                                <td>T3</td>
                                                <td colspan="14" class="line-free-table"></td>
                                                <td colspan="3" class="line-ordered-table"></td>
                                                <td colspan="7" class="line-free-table"></td>
                                            </tr>
                                            <tr class="table4">
                                                <td>T4</td>
                                                <td colspan="14" class="line-ordered-table"></td>
                                                <td colspan="9" class="line-ordered-table"></td>
                                                <td colspan="1" class="line-free-table"></td>
                                            </tr>


                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- /#booking -->

                            <div class="tab-pane" id="events">
                                <div class="row">

                                    <div class="col-md-12 panel panel-default panel-events">

                                        <form action="#" role="form" method="post">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-7">
                                                        <div class="col-md-12"><h2>Add event</h2></div>
                                                        <label for="eventName" class="col-md-3 control-label">Event
                                                            title: </label>

                                                        <div class="col-md-9 form-group">
                                                            <input class="form-control" type="text" id="eventName"
                                                                   placeholder="Enter name of event">
                                                        </div>

                                                        <label for="datetimepicker-start"
                                                               class="col-md-3 control-label">Start: </label>

                                                        <div class="col-md-9">
                                                            <input type="text" class="form-control form-group"
                                                                   id="datetimepicker-start"/>
                                                        </div>

                                                        <label for="datetimepicker-end"
                                                               class="col-md-3 control-label">End: </label>

                                                        <div class="col-md-9">
                                                            <input type="text" class="form-control form-group"
                                                                   id="datetimepicker-end"/>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-2">
                                                        <div id="shop-event-img"></div>
                                                    <span class="btn btn-default btn-file">
                                                        Set event img <input type="file" id="inputEventAvatar"
                                                                             accept="image/*">
                                                    </span>
                                                    </div>
                                                    <!--end upload file-->

                                                    <!--calendar-->
                                                    <div class="col-md-3">
                                                        <div class="date"></div>
                                                    </div>
                                                    <!--end calendar-->

                                                    <div class="row">
                                                        <div class="col-md-12"><h2>Description:</h2></div>
                                                        <div class="col-md-12">
                                    <textarea id="description-event" class="form-control" name="description" cols="50"
                                              rows="10"
                                              placeholder="Enter description here"></textarea>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                            <button type="submit" class="btn btn-success pull-right">Create event
                                            </button>
                                        </form>

                                    </div>
                                    <div class="col-md-12 panel panel-default panel-space">
                                        <div class="col-md-12 panel-body">
                                            <div class="col-md-3"><img src="../../public/img/bar2.jpg" width="220" height="250"
                                                                       class="img-rounded center-block"
                                                                       alt="event_photo"></div>
                                            <div class="col-md-9">
                                                <div class="panel-heading"><h2>Text description event</h2></div>
                                                <div class="panel-body"><p>I've never been lucky enough to travel to
                                                    Ireland
                                                    myself, but I have a friend who lived there for a year.
                                                    While enjoying a few pints at Jack's Irish Pub together, I asked her
                                                    whether
                                                    the bar really had the atmosphere of an
                                                    authentic Irish drinking establishment.
                                                    With the exception of the cocktail waitresses sporting very short
                                                    skirts,
                                                    she said that Jack's comes pretty close to the real deal.
                                                    Its wooden floors, brick accents and 140-seat size make it a
                                                    comfortable,
                                                    cozy place to enjoy a wide selection of Irish whiskeys,
                                                    ciders, ales and even cigars. Mixed drinks are just $3; a pint of
                                                    beer or
                                                    cider i</p></div>
                                                <p class="text-right"><a href="#">Read more...</a> <a
                                                        href="#">Delete</a></p>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <!-- /#events -->
                            <div class="tab-pane" id="comments">
                                <div class="row">
                                    <div class="col-md-12 panel panel-default panel-space">
                                        <div class="col-md-12"><h2>Pub</h2></div>
                                        <div class="col-md-10 panel-body">
                                            <p>I've never been lucky enough to travel to Ireland
                                                myself, but I have a friend who lived there for a year.
                                                While enjoying a few pints at Jack's Irish Pub together, I asked her
                                                whether
                                                the bar really had the atmosphere of an
                                                authentic Irish drinking establishment.
                                                With the exception of the cocktail waitresses sporting very short
                                                skirts,
                                                she said that Jack's comes pretty close to the real deal.
                                                Its wooden floors, brick accents and 140-seat size make it a
                                                comfortable,
                                                cozy place to enjoy a wide selection of Irish whiskeys,
                                                ciders, ales and even cigars. Mixed drinks are just $3; a pint of beer
                                                or
                                                cider i</p>
                                        </div>
                                        <div class="col-md-2">
                                            <img src="../../public/img/bar1.jpg" alt="shop-avar" width="130" height="80">

                                            <div class="rating">
                                                <span>&#9734</span><span>&#9734</span><span>&#9734</span><span>&#9734</span><span>&#9734</span>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <h2>Comments</h2>

                                            <div class="col-md-12">

                                                <div class="col-md-1">
                                                    <img src="../../public/img/default-avatar.png" alt="client-ava" height="70"
                                                         width="70">
                                                </div>
                                                <div class="col-md-11 media">
                                                    <p>Its wooden floors, brick accents and 140-seat size make it a
                                                        comfortable,
                                                        cozy place to enjoy a wide selection of Irish whiskeys,
                                                        ciders, ales and even cigars. Mixed drinks are just $3; a pint
                                                        of beer
                                                        or
                                                        cider i</p>

                                                    <p class="text-right"><a href="#">Edit</a></p>

                                                    <div class="rating">
                                                        <span>&#9734</span><span>&#9734</span><span>&#9734</span><span>&#9734</span><span>&#9734</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <img src="../../public/img/default-avatar.png" alt="client-ava" height="70"
                                                         width="70">
                                                </div>
                                                <div class="col-md-11 media">
                                                    <p>Its wooden floors, brick accents and 140-seat size make it a
                                                        comfortable,
                                                        cozy place to enjoy a wide selection of Irish whiskeys,
                                                        ciders, ales and even cigars. Mixed drinks are just $3; a pint
                                                        of beer
                                                        or
                                                        cider i</p>

                                                    <p class="text-right"><a href="#">Edit</a></p>
                                                    <div class="rating">
                                                        <span>&#9734</span><span>&#9734</span><span>&#9734</span><span>&#9734</span><span>&#9734</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
