    <!--end header-->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container navigation-menu ">
            <form class="navbar-form pull-right" role="search">
                <input type="search" class="form-control search" placeholder="Search..."/>
            </form>
            <ul class="nav navbar-nav pull-right">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Locations</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
            </ul>
        </div>
    </nav>
    <!--end nav-menu-->
    <section class="content">
        <div class="container admin-panel">
            <h1>Admin panel</h1>
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#location">Location</a></li>
                <li><a data-toggle="tab" href="#events">Events</a></li>
                <li><a data-toggle="tab" href="#users">Users</a></li>
            </ul>

            <div class="tab-content">
                <div id="location" class="tab-pane fade in active">
                    <h3>Location</h3>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Location Name</th>
                            <th>User ID</th>
                            <th>Rating</th>
                            <th>Options</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>0001</td>
                            <td>Place 1</td>
                            <td>2461</td>
                            <td>9547</td>
                            <td>
                                <a href="#" class="btn btn-primary btn-xs" data-title="Edit" role="button"
                                   data-toggle="modal" data-target="#edit"><span
                                        class="glyphicon glyphicon-pencil"></span></a>
                                <a href="#" class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal"
                                   data-target="#edit"><span class="glyphicon glyphicon-trash"></span></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!--End Location table-->
                <div id="events" class="tab-pane fade">
                    <h3>Events</h3>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Event title</th>
                            <th>Location ID</th>
                            <th>Options</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>0001</td>
                            <td>Event 1</td>
                            <td>2461</td>
                            <td>
                                <a href="?edit=0001" class="btn btn-primary btn-xs" data-title="Edit"
                                   role="button"><span
                                        class="glyphicon glyphicon-pencil"></span></a>
                                <a href="?delete=0001" class="btn btn-danger btn-xs" data-title="Delete"><span
                                        class="glyphicon glyphicon-trash"></span></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div id="users" class="tab-pane fade">
                    <h3>Users</h3>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Options</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>0001</td>
                            <td>User 1</td>
                            <td>
                                <a href="?edit=0001" class="btn btn-primary btn-xs" data-title="Edit"
                                   role="button"><span
                                        class="glyphicon glyphicon-pencil"></span></a>
                                <a href="?delete=0001" class="btn btn-danger btn-xs" data-title="Delete"><span
                                        class="glyphicon glyphicon-trash"></span></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
        </div>
            <!--MODAL WINDOW-->
            <div class="modal fade" id="edit" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form action="" method="post" role="form">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Edit</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="location-name">Location name</label>
                                    <input type="text" class="form-control" name="location-name" id="location-name"
                                           placeholder="Input...">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--/MODAL WINDOW-->
    </section>
</div>
