    <!--end header-->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container navigation-menu ">
            <form class="navbar-form pull-right" role="search">
                <input type="search" class="form-control search" placeholder= "Search..."/>
            </form>
            <ul class="nav navbar-nav pull-right">
                <li class="active">
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Locations</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
            </ul>
        </div>
    </nav>
    <!--end nav-menu-->
    <section class="content">
        <div class="container">

            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Events</a></li>
                <li class="active">Event 1</li>
            </ol>

                <div class="event_more_main_table col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td colspan="2" class="border_none"><img src="http://theottawavalley.com/wp-content/uploads/new-years-eve.jpg" class="img-responsive" alt="Отзывчивое изображение в Bootstrap"></td>
                        </tr>
                        <tr>
                            <td>Location name:</td>
                            <td>Bla Bla Club</td>
                        </tr>
                        <tr>
                            <td>Location Rating</td>
                            <td>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>Event date</td>
                            <td>30.12.2015 (16:00-20:00)</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="text-center"><h2>Event 1</h2></div>

                <p>
                    Rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                    dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores
                    eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
                    sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                    Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut!
                </p>
                <p>
                    Rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                    dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores
                    eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
                    sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                    Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut!
                </p>
                <p>
                    Rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                    dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores
                    eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
                    sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                    Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut!
                </p>

            <div class="clear_both"></div>

            <button type="button" class="btn btn-default float_right"><span class="lead">BOOK IT</span></button>

            <div class="clear_both"></div>

            <h2>See also</h2>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="text-center">
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </div>
                            <img src="http://www.aal-europe.eu/wp-content/uploads/2013/12/events_medium.jpg" class="img-responsive see_also_img" alt="Отзывчивое изображение в Bootstrap">
                            <a href='#'>Name</a>
                            <div>description of event</div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="text-center">
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </div>
                            <img src="http://www.aal-europe.eu/wp-content/uploads/2013/12/events_medium.jpg" class="img-responsive" alt="Отзывчивое изображение в Bootstrap">
                            <a href='#'>Name</a>
                            <div>description of event</div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="text-center">
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </div>
                            <img src="http://www.aal-europe.eu/wp-content/uploads/2013/12/events_medium.jpg" class="img-responsive" alt="Отзывчивое изображение в Bootstrap">
                            <a href='#'>Name</a>
                            <div>description of event</div>
                        </div>
                    </div>
                </div>


                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="text-center">
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </div>
                            <img src="http://www.aal-europe.eu/wp-content/uploads/2013/12/events_medium.jpg" class="img-responsive" alt="Отзывчивое изображение в Bootstrap">
                            <a href='#'>Name</a>
                            <div>description of event</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>
