    <!--end header-->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container navigation-menu ">
            <form class="navbar-form pull-right" role="search">
                <input type="search" class="form-control search" placeholder= "Search..."/>
            </form>
            <ul class="nav navbar-nav pull-right">
                <li class="active">
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Locations</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
            </ul>
        </div>
    </nav>
    <!--end nav-menu-->
    <section class="content">
        <div class="container">

            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Events</li>
            </ol>

                <div class="row panel panel-default event_short_block">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <img src="https://yalantis.com/media/content/ckeditor/2014/06/Live-Events-01.jpg" class="img-responsive img-rounded" alt="Отзывчивое изображение в Bootstrap">
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
                        <h2>Event 1</h2>
                        <p>Rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut!
                        </p>
                        <div class="text-center"><a href="#">Read more</a></div>
                    </div>
                </div>

                <div class="row panel panel-default event_short_block">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <img src="http://impreza.us-themes.com/wp-content/uploads/img-6.jpg" class="img-responsive img-rounded" alt="Отзывчивое изображение в Bootstrap">
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
                        <h2>Event 2</h2>
                        <p>Rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut!
                        </p>
                        <div class="text-center"><a href="#">Read more</a></div>
                    </div>
                </div>


                <div class="row panel panel-default event_short_block">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <img src="http://pravteam.ru/wp-content/uploads/2015/04/event.png" class="img-responsive img-rounded" alt="Отзывчивое изображение в Bootstrap">
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
                        <h2>Event 3</h2>
                        <p>Rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut!
                        </p>
                        <div class="text-center"><a href="#">Read more</a></div>
                    </div>
                </div>


                <div class="row panel panel-default event_short_block">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <img src="http://www.revelryeventdesigners.com/wp-content/uploads/2011/05/revelry-event-designers-homepage-slideshow-38.jpeg" class="img-responsive img-rounded" alt="Отзывчивое изображение в Bootstrap">
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
                        <h2>Event 4</h2>
                        <p>Rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut!
                        </p>
                        <div class="text-center"><a href="#">Read more</a></div>
                    </div>
                </div>


            <nav class="text-center">
                <ul class="pagination">
                    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                </ul>
            </nav>

        </div>
    </section>
</div>
