<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Good Evening</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
    <div class="wrapper">

        <header>
            <div class="container">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <a href="#"><img src="../../public/img/logo.png" class="img-responsive logo" alt="Image"></a>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 pull-right">
                	<div class="row">
                        <div class="form-group col-xs-4 col-sm-4 col-md-4 col-lg-4 pull-right lang">
                            <select class="form-control" id="lang">
                                <option>En</option>
                                <option>Рус</option>
                            </select>
                        </div>
                	</div>
                    <div class="row">
                        <a class="col-xs-4 col-sm-4 col-md-4 col-lg-4 btn btn-default pull-right" type="button" href="#">Sign In</a>
                	</div>
                </div>
            </div>
        </header>
        <!--end header-->
            <nav class="navbar navbar-default" role="navigation">
                <div class="container navigation-menu ">
                    <form class="navbar-form pull-right" role="search">
                        <input type="search" class="form-control search" placeholder= "Search..."/>
                    </form>
                    <ul class="nav navbar-nav pull-right">
                        <li class="active">
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">Locations</a>
                        </li>
                        <li>
                            <a href="#">Events</a>
                        </li>
                    </ul>
                </div>
            </nav>
        <!--end nav-menu-->
        <section class="content">
            <div class="container">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Sed consectetur porta elit nec condimentum.
                    Vestibulum interdum tellus at pretium mollis.
                    Aliquam fermentum hendrerit ipsum suscipit gravida.
                    Nunc tristique consectetur malesuada. Nulla vitae ante quis leo luctus interdum.
                    Mauris libero ipsum, sollicitudin eu pharetra quis, vehicula ut lacus. Fusce a iaculis urna.
                    Mauris semper, enim id finibus consectetur, augue orci imperdiet lacus, id ultricies libero ex eget libero.
                    Aliquam eu metus a nulla posuere pellentesque. Fusce at purus ac odio euismod interdum.
                    Donec vehicula sit amet dolor sed mollis. Suspendisse eget tortor sed mi iaculis rhoncus eget ac lacus.
                    Ut finibus varius orci, sed convallis nisi consequat sed. Nullam non nibh sed nibh pretium tincidunt.
                    Nunc mollis leo ac nisl congue molestie.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Sed consectetur porta elit nec condimentum.
                    Vestibulum interdum tellus at pretium mollis.
                    Aliquam fermentum hendrerit ipsum suscipit gravida.
                    Nunc tristique consectetur malesuada. Nulla vitae ante quis leo luctus interdum.
                    Mauris libero ipsum, sollicitudin eu pharetra quis, vehicula ut lacus. Fusce a iaculis urna.
                    Mauris semper, enim id finibus consectetur, augue orci imperdiet lacus, id ultricies libero ex eget libero.
                    Aliquam eu metus a nulla posuere pellentesque. Fusce at purus ac odio euismod interdum.
                    Donec vehicula sit amet dolor sed mollis. Suspendisse eget tortor sed mi iaculis rhoncus eget ac lacus.
                    Ut finibus varius orci, sed convallis nisi consequat sed. Nullam non nibh sed nibh pretium tincidunt.
                    Nunc mollis leo ac nisl congue molestie.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Sed consectetur porta elit nec condimentum.
                    Vestibulum interdum tellus at pretium mollis.
                    Aliquam fermentum hendrerit ipsum suscipit gravida.
                    Nunc tristique consectetur malesuada. Nulla vitae ante quis leo luctus interdum.
                    Mauris libero ipsum, sollicitudin eu pharetra quis, vehicula ut lacus. Fusce a iaculis urna.
                    Mauris semper, enim id finibus consectetur, augue orci imperdiet lacus, id ultricies libero ex eget libero.
                    Aliquam eu metus a nulla posuere pellentesque. Fusce at purus ac odio euismod interdum.
                    Donec vehicula sit amet dolor sed mollis. Suspendisse eget tortor sed mi iaculis rhoncus eget ac lacus.
                    Ut finibus varius orci, sed convallis nisi consequat sed. Nullam non nibh sed nibh pretium tincidunt.
                    Nunc mollis leo ac nisl congue molestie.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Sed consectetur porta elit nec condimentum.
                    Vestibulum interdum tellus at pretium mollis.
                    Aliquam fermentum hendrerit ipsum suscipit gravida.
                    Nunc tristique consectetur malesuada. Nulla vitae ante quis leo luctus interdum.
                    Mauris libero ipsum, sollicitudin eu pharetra quis, vehicula ut lacus. Fusce a iaculis urna.
                    Mauris semper, enim id finibus consectetur, augue orci imperdiet lacus, id ultricies libero ex eget libero.
                    Aliquam eu metus a nulla posuere pellentesque. Fusce at purus ac odio euismod interdum.
                    Donec vehicula sit amet dolor sed mollis. Suspendisse eget tortor sed mi iaculis rhoncus eget ac lacus.
                    Ut finibus varius orci, sed convallis nisi consequat sed. Nullam non nibh sed nibh pretium tincidunt.
                    Nunc mollis leo ac nisl congue molestie.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Sed consectetur porta elit nec condimentum.
                    Vestibulum interdum tellus at pretium mollis.
                    Aliquam fermentum hendrerit ipsum suscipit gravida.
                    Nunc tristique consectetur malesuada. Nulla vitae ante quis leo luctus interdum.
                    Mauris libero ipsum, sollicitudin eu pharetra quis, vehicula ut lacus. Fusce a iaculis urna.
                    Mauris semper, enim id finibus consectetur, augue orci imperdiet lacus, id ultricies libero ex eget libero.
                    Aliquam eu metus a nulla posuere pellentesque. Fusce at purus ac odio euismod interdum.
                    Donec vehicula sit amet dolor sed mollis. Suspendisse eget tortor sed mi iaculis rhoncus eget ac lacus.
                    Ut finibus varius orci, sed convallis nisi consequat sed. Nullam non nibh sed nibh pretium tincidunt.
                    Nunc mollis leo ac nisl congue molestie.</p>


            </div>
        </section>
    </div>
    <div class="footer">
        <div class="container">
        	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <span><strong>FirstTeam, Inc.</strong></span>
                <span>1355 Market Street, Suite 900</span>
                <span>San Francisco, CA 94103</span>
        	</div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <span><strong>Email:</strong><a href="mailto:good@evening.com">
                good@evening.com</a></span> <br />
                <span><strong>Phone numder:</strong> (123) 456-7890</span>
        	</div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <p> &copy;2016 GoodEvening. <br /> All rights reserved. </p>
        	</div>
        </div>
    </div>
    <script src="/public/js/jquery-1.11.3.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>