    <!--end header-->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container navigation-menu ">
            <form class="navbar-form pull-right" role="search">
                <input type="search" class="form-control search" placeholder= "Search..."/>
            </form>
            <ul class="nav navbar-nav pull-right">
                <li class="active">
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Locations</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
            </ul>
        </div>
    </nav>
    <!--end nav-menu-->
    <section class="content">
        <div class="container">

            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Location</li>
            </ol>

            <div class="locations_nav_menu">
                <span class="lead">Location type </span>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        All <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Pub</a></li>
                        <li><a href="#">Clubs</a></li>
                    </ul>
                </div>
            </div>

            <div class="row">

                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="text-center">
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </div>
                            <img src="http://bloggingtips.moneyreigninc.netdna-cdn.com/wp-content/uploads/2014/12/Event-Blogging-Strategies.jpg" class="img-responsive" alt="Отзывчивое изображение в Bootstrap">
                            <a href='#'>Name</a>
                            <div>description of event</div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="text-center">
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </div>
                            <img src="http://bloggingtips.moneyreigninc.netdna-cdn.com/wp-content/uploads/2014/12/Event-Blogging-Strategies.jpg" class="img-responsive" alt="Отзывчивое изображение в Bootstrap">
                            <a href='#'>Name</a>
                            <div>description of event</div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="text-center">
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </div>
                            <img src="http://bloggingtips.moneyreigninc.netdna-cdn.com/wp-content/uploads/2014/12/Event-Blogging-Strategies.jpg" class="img-responsive" alt="Отзывчивое изображение в Bootstrap">
                            <a href='#'>Name</a>
                            <div>description of event</div>
                        </div>
                    </div>
                </div>


                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="text-center">
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </div>
                            <img src="http://bloggingtips.moneyreigninc.netdna-cdn.com/wp-content/uploads/2014/12/Event-Blogging-Strategies.jpg" class="img-responsive" alt="Отзывчивое изображение в Bootstrap">
                            <a href='#'>Name</a>
                            <div>description of event</div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="text-center">
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </div>
                            <img src="http://bloggingtips.moneyreigninc.netdna-cdn.com/wp-content/uploads/2014/12/Event-Blogging-Strategies.jpg" class="img-responsive" alt="Отзывчивое изображение в Bootstrap">
                            <a href='#'>Name</a>
                            <div>description of event</div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="text-center">
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </div>
                            <img src="http://bloggingtips.moneyreigninc.netdna-cdn.com/wp-content/uploads/2014/12/Event-Blogging-Strategies.jpg" class="img-responsive" alt="Отзывчивое изображение в Bootstrap">
                            <a href='#'>Name</a>
                            <div>description of event</div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="text-center">
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </div>
                            <img src="http://bloggingtips.moneyreigninc.netdna-cdn.com/wp-content/uploads/2014/12/Event-Blogging-Strategies.jpg" class="img-responsive" alt="Отзывчивое изображение в Bootstrap">
                            <a href='#'>Name</a>
                            <div>description of event</div>
                        </div>
                    </div>
                </div>


                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="text-center">
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </div>
                            <img src="http://bloggingtips.moneyreigninc.netdna-cdn.com/wp-content/uploads/2014/12/Event-Blogging-Strategies.jpg" class="img-responsive" alt="Отзывчивое изображение в Bootstrap">
                            <a href='#'>Name</a>
                            <div>description of event</div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="text-center">
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </div>
                            <img src="http://bloggingtips.moneyreigninc.netdna-cdn.com/wp-content/uploads/2014/12/Event-Blogging-Strategies.jpg" class="img-responsive" alt="Отзывчивое изображение в Bootstrap">
                            <a href='#'>Name</a>
                            <div>description of event</div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="text-center">
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </div>
                            <img src="http://bloggingtips.moneyreigninc.netdna-cdn.com/wp-content/uploads/2014/12/Event-Blogging-Strategies.jpg" class="img-responsive" alt="Отзывчивое изображение в Bootstrap">
                            <a href='#'>Name</a>
                            <div>description of event</div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="text-center">
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </div>
                            <img src="http://bloggingtips.moneyreigninc.netdna-cdn.com/wp-content/uploads/2014/12/Event-Blogging-Strategies.jpg" class="img-responsive" alt="Отзывчивое изображение в Bootstrap">
                            <a href='#'>Name</a>
                            <div>description of event</div>
                        </div>
                    </div>
                </div>


                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="text-center">
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </div>
                            <img src="http://bloggingtips.moneyreigninc.netdna-cdn.com/wp-content/uploads/2014/12/Event-Blogging-Strategies.jpg" class="img-responsive" alt="Отзывчивое изображение в Bootstrap">
                            <a href='#'>Name</a>
                            <div>description of event</div>
                        </div>
                    </div>
                </div>

            </div>

            <nav class="text-center">
                <ul class="pagination">
                    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                </ul>
            </nav>

        </div>
    </section>
</div>
