    <!--end header-->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container navigation-menu ">
            <form class="navbar-form pull-right" role="search">
                <input type="search" class="form-control search" placeholder= "Search..."/>
            </form>
            <ul class="nav navbar-nav pull-right">
                <li class="active">
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Locations</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
            </ul>
        </div>
    </nav>
    <!--end nav-menu-->
    <section class="content">
        <div class="container">

            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Location</a></li>
                <li class="active">Location name</li>
            </ol>

            <div id="myCarousel" class="carousel slide location_main_slider" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="http://i1002.photobucket.com/albums/af150/denisbelenko/fasad-5.jpg" alt="Chania">
                    </div>

                    <div class="item">
                        <img src="http://www.free-lancers.net/posted_files/NAA1B61B194FC.jpg" alt="Chania">
                    </div>

                    <div class="item">
                        <img src="https://media-cdn.tripadvisor.com/media/photo-s/06/28/d3/e6/caption.jpg" alt="Flower">
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <div class="clear_both"></div>

            <h2 id="sec1">Location description</h2>
            <p>
                Rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores
                eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
                sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut!
            </p>

            <h2 id="sec2">How to get there?</h2>
            <img src="http://www.careace.net/wp-content/uploads/2010/09/map-google.gif" class="img-responsive how_to_get_there_img" alt="Отзывчивое изображение в Bootstrap">
            <p>
                Rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores
                eos qui ratione voluptatem sequi nesciunt.
            </p>

            <div class="clear_both"></div>

            <h2 id="sec3">Some images</h2>
            <div class="row some_images">
                <div class="col-md-4 col-xs-4"><img src="http://i1002.photobucket.com/albums/af150/denisbelenko/fasad-5.jpg" class="img-responsive" alt="Отзывчивое изображение в Bootstrap"></div>
                <div class="col-md-4 col-xs-4"><img src="http://www.labrigel.ru/system/images/119_medium.jpg?1371538158" class="img-responsive" alt="Отзывчивое изображение в Bootstrap"></div>
                <div class="col-md-4 col-xs-4"><img src="https://media-cdn.tripadvisor.com/media/photo-s/06/28/d3/e6/caption.jpg" class="img-responsive" alt="Отзывчивое изображение в Bootstrap"></div>
            </div>

            <h2 id="sec4">Comments</h2>
            <div class="row panel panel-default">
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <img src="https://image.freepik.com/free-icon/_318-55563.jpg" class="img-responsive"  alt="Отзывчивое изображение в Bootstrap">
                    <div class="text-center">My Name</div>
                </div>
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                    Comment text
                </div>
            </div>

            <div class="row panel panel-default">
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <img src="https://image.freepik.com/free-icon/_318-55563.jpg" class="img-responsive"  alt="Отзывчивое изображение в Bootstrap">
                    <div class="text-center">My Name</div>
                </div>
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                    Comment text
                </div>
            </div>

            <div class="row panel panel-default">
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <img src="https://image.freepik.com/free-icon/_318-55563.jpg" class="img-responsive"  alt="Отзывчивое изображение в Bootstrap">
                    <div class="text-center">My Name</div>
                </div>
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                    Comment text
                </div>
            </div>
        </div>
    </section>
</div>
