    <!--end header-->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container navigation-menu ">
            <form class="navbar-form pull-right" role="search">
                <input type="search" class="form-control search" placeholder="Search..."/>
            </form>
            <ul class="nav navbar-nav pull-right">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Locations</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
            </ul>
        </div>
    </nav>
    <!--end nav-menu-->
    <section class="content">
        <div class="container sign">
            <h1>Sign Up</h1>
            <form action="" method="post" role="form">
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
                            <a class="btn btn-social btn-twitter disabled" title="Sign in with Twitter"><span
                                    class="fa social-button fa-twitter"></span> </a>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
                            <a class="btn btn-social btn-facebook disabled" title="Sign in with Facebook"><span
                                    class="fa social-button fa-facebook"></span></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
                            <a class="btn btn-social btn-vk disabled" title="Sign in with VK"><span
                                    class="fa social-button fa-vk"></span></a>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
                            <a class="btn btn-social btn-google disabled" title="Sign in with Google+"><span
                                    class="fa social-button fa-google"></span></a>
                        </div>
                    </div>
                    <div id="type-reg">
                        <legend>Please select type :</legend>
                        <div class="col-xs-offset-5 col-sm-offset-5 col-md-offset-5 col-lg-offset-5
                                col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            <input type="radio" name="type" id="user" value="User" checked>
                            <label for="user">User</label>
                        </div>
                        <div class="col-xs-offset-5 col-sm-offset-5 col-md-offset-5 col-lg-offset-5
                                col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            <input type="radio" name="type" id="shop" value="Shop">
                            <label for="shop">Shop</label>
                        </div>
                        <div class="col-xs-offset-5 col-sm-offset-5 col-md-offset-5 col-lg-offset-5
                                col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            <button type="submit" class="btn btn-primary btn-lg ">Registration</button>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </section>
</div>
