<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Good Evening</title>
    <link rel="stylesheet" href="/vendor/twbs/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/public/css/style.css">

    <!--For page add-shop.phtml-->
    <link rel="stylesheet" type="text/css" href="/public/css/datepicker.css">
    <link rel="stylesheet" type="text/css" href="/public/css/addShop.css">
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap-datetimepicker.min.css"/>
    <!--end For page add-shop.phtml-->
</head>

<body>
<div class="wrapper">
    <header>
        <div class="container">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <a href="#"><img src="/public/img/logo.png" class="img-responsive logo" alt="Image"></a>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 pull-right">
                <div class="row">
                    <div class="form-group col-xs-4 col-sm-4 col-md-4 col-lg-4 pull-right lang">
                        <select class="form-control" id="lang">
                            <option>En</option>
                            <option>Рус</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <a class="col-xs-4 col-sm-4 col-md-4 col-lg-4 btn btn-default pull-right" type="button" href="#">Sign In</a>
                </div>
            </div>
        </div>
    </header>
    <!--end header-->
<?=$page?>
<div class="footer">
    <div class="container">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <span><strong>FirstTeam, Inc.</strong></span>
            <span>1355 Market Street, Suite 900</span>
            <span>San Francisco, CA 94103</span>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <span><strong>Email:</strong><a href="mailto:good@evening.com">
                        good@evening.com</a></span> <br />
            <span><strong>Phone numder:</strong> (123) 456-7890</span>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <p> &copy;2016 GoodEvening. <br /> All rights reserved. </p>
        </div>
    </div>
</div>
<script src="/public/js/jquery-1.11.3.min.js"></script>
<script src="/vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script>

<!--For page add-shop.phtml -->
<!--<script type="text/javascript" src="/public/js/jquery.js"></script>-->
<script type="text/javascript" src="/public/js/addShop.js"></script>
<script type="text/javascript" src="../../public/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/public/js/moment-with-locales.min.js"></script>
<script type="text/javascript" src="/public/js/bootstrap-datetimepicker.min.js"></script>
<!--end For page add-shop.phtml -->
</body>
</html>